* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

#app {
	height: 100vh;
	width: 100vw;
	color: #f2f2f2;
	background: #04080F;
}

#header img {
	width: 20%;
	height: 20%
}

#header h1 {
	margin: 0 2% 0 2%;
}

#formPage {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: auto 20%;

}

#formPage h1 {
	grid-row: 1/2;
	align-self: center;
	justify-self: center;
	text-decoration: underline;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-row: 1/2;
	justify-content: space-around;
	margin: 20% 0 20% 0;

}

form input {
	width: 75%;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	border:1px solid  #f2f2f2;
	background: #04080f;
	color: #f2f2f2;
}

form input:focus {
	outline: none;
}

#formPage button {
	background: #09E85E;
	border: none;
	font-size: 64px;
	color: #f2f2f2;
	grid-row: 2/3;
}

button:hover {
	cursor: pointer;
}

#statusPage {
	display: flex;
	align-items: center;
}
